# Style configuration for 4C to be used with clang-format

## Define the base style. We use Google's style here.
BasedOnStyle: Google # Use Google style as baseline configuration and specify deviations explicitly as given below

Standard: c++20

AlignAfterOpenBracket: DontAlign # Align function arguments after line break at custom indentation rather than at the opening (
BreakBeforeBraces: Allman # Always move the opening { to the next line

ColumnLimit: 100
MaxEmptyLinesToKeep: 3
TabWidth: 2
NamespaceIndentation: All
SpacesInContainerLiterals: false

# Always put '&' and '*' with the type.
DerivePointerAlignment: false
PointerAlignment: Left

# Includes are grouped by the categories listed below. In every group, the includes are sorted alphabetically.
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
# Sort the includes into different categories
IncludeCategories:
  # gtest and gmock first
  - Regex: "gtest/gtest.h"
    Priority: -3
  - Regex: "gmock/gmock.h"
    Priority: -2

  # make sure to include config headers before other 4C headers:
  - Regex: "4C_config.*.hpp"
    Priority: -1

  # the header associated with a cpp file has priority zero and would come here

  # try to group 4C headers:
  - Regex: "4C_.*\\.(h|H|hpp)"
    Priority: 10

  # try to catch all third party headers and put them after 4C but before
  # standard headers:
  - Regex: "<.*\\.(h|hpp|hxx)>"
    Priority: 1000

  # match all standard headers
  - Regex: "<[a-z_]+>"
    Priority: 100000
