#####################################################
#                                                   #
# This file tells git which files are to be ignored #
#                                                   #
#####################################################

# C++ build
*.o
*.a
src/headers/compile_settings.h

# Other build
DartConfiguration.tcl

# Executables
baci-release
baci-debug
post_drt_ensight
!cmake/scripts/post_drt_ensight
post_drt_generic
post_drt_gid
!cmake/scripts/post_drt_gid
post_drt_monitor
post_drt_s8convert
pre_curve
!src/pre_curve
pre_exodus
!src/pre_exodus

# Eclipse
.cproject
.project
.settings
.log

# CMake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
Makefile

# SVN
.svn

# Tests
L2.txt
Testing/
artery?_.art
test.out
xxx*.control
xxx*.s0
xxx*.s-1
xxx*.parameter
xxx*.s0.p?
xxx*.s-1.p?
xxx*.err
xxx*.p?.pos
xxx*.p??.pos

# Guides
guides/build
guides/reports
guides/src/*/*/*.pdf

# Doxygen
doc/html/
doc/Doxyfile.defs
doc/Doxyfile

# OS
.directory
.DS_Store
._.DS_Store
.apdisk
.TemporaryItems
._.TemporaryItems
.Trash-*
Thumbs.db
Thumbs.db:encryptable

#ctags
tags

#vim
*.swp

#kate
*~

# Modules
modules/contact_module/src/

# Python
*.pyc
utilities/baci-python-venv/*

# VS Code
*.vscode
/Debug/

# CLion
.idea/
