// ADD PREDEFINED MACROS HERE!
#define CCADISCRET
#define BINIO
#define DEBUG

#define D_ALE              
#define D_FLUID2           
#define D_FLUID3           
#define D_SHELL8           
#define D_WALL1            
#define D_THERM2           
#define D_THERM3           
#define D_SOLID3           
#define D_BEAM2            
#define D_BEAM2R           
#define D_BEAM3            
#define D_TRUSS3           
#define D_TRUSS2           
#define D_TORSION3         
#define D_TORSION2         
#define D_ARTNET           
