{% set tutorial_file = "fsi/tutorial_fsi_3d.4C.yaml" %}
{% set input_file_content = load_input_file(tutorial_file) %}

.. _3d_fsitutorial:

FSI Tutorial 3D
===============

Introduction
------------

As example, we consider a 3d driven cavity example as sketched in the
:ref:`figure below <tut_fsi_preexo>` with a depth of 0.05.
For further details and references we refer the reader to [Wall99]_.

.. figure:: /_assets/Angabeskizze.jpg
   :alt: The driven cavity example
   :width: 60%
   :align: center
   :name: tut_fsi_preexo

   The driven cavity example

Creating the Geometry with Cubit
--------------------------------

Besides meshing cubit also has several geometry creation methods. We
refer to the provided manual and tutorials. It supports scripting (also
Python), therefore we provide the following *Journal*-file containing
the necessary geometry commands as well as mesh and definitions for
elements and boundary conditions, respectively.

You can find the complete journal in `tests/tutorials/tutorial_fsi_3d.jou`.

Within Cubit, run the journal file (*Tools* :math:`\to` *Play journal file* :math:`\to`
open the journal file mentioned above).
Export the created geometry and mesh to an EXODUS file of your choice
via *File* :math:`\to` *Export...*.
During export, set the dimension explicitly to 3D.

Creating the |FOURC| input file
-------------------------------

Geometry description
~~~~~~~~~~~~~~~~~~~~

The geometry is described in the file `tutorial_fsi_3d.e` we created before. It contains two element
blocks for the fluid and the structure domain, respectively. We reference this file in the input
file and assign the correct element types and material properties to the blocks:

{{ section_dump(input_file_content, ["STRUCTURE GEOMETRY", "FLUID GEOMETRY", "MATERIALS"]) }}

General parameters
~~~~~~~~~~~~~~~~~~

Since we want to run a fluid-structure interaction simulation, we need to
set the parameters for the fluid, the structure and the ALE subproblems. First, let us
specify the type of problem:

{{ section_dump(input_file_content, ["PROBLEM TYPE"]) }}

We set the following parameters for the structure problem:

{{ section_dump(input_file_content, ["STRUCTURAL DYNAMIC", "SOLVER 1"]) }}


For the fluid problem we set the following parameters:

{{ section_dump(input_file_content, ["FLUID DYNAMIC", "SOLVER 2"]) }}

For the ALE problem, we set the following parameters:

{{ section_dump(input_file_content, ["ALE DYNAMIC", "FSI DYNAMIC"]) }}


A couple of different conditions are applied:

-  Surface clamping conditions and fixtures are left out here for the sake
   of brevity. Refer to the complete input file for details.

-  The prescribed velocity at the top of the cavity is defined via a function:

{{ section_dump(input_file_content, ["FUNCT1"]) }}

-  The coupling surface between fluid and structure domain is specified as

{{ section_dump(input_file_content, ["DESIGN FSI COUPLING SURF CONDITIONS"]) }}

Running the simulation
~~~~~~~~~~~~~~~~~~~~~~

Run the simulation by providing the created input and an output prefix
to |FOURC| and postprocess the results.


.. _fsi3dtutorialpostprocessing:

Postprocessing
--------------

You can postprocess your results with any visualization software you
like. In this tutorial, we choose *Paraview*.

Before you can open the results, you have to generate a filter again.
Call *make post_ensight* in the |FOURC|-directory. Filter your results
in the output directory with the call

.. container:: center

   ``./post_ensight --file=[outputdirectory]/outputprefix``

After this open *paraview*, go to

-  *File* :math:`\to` *Open Data* and select the filtered *\*.case
   file*.

-  Only for older versions of *Paraview*:

   -  Select the time step in the *Select Time Value* window on the left
      and

   -  shift *Byte order* to *little endian*

-  Click on *accept* (or *apply*) to activate the display.

-  In the *Display tab* (section *Color*) you can choose now between
   *Point pressure* and *Point velocity*, whatever you want to display.

-  For the scale, activate the *Scalar bar* button in the *View
   section*.

