# -------------------------------------------------------------------------------------------------------------------- #
# BACI code owners file
#
# eligible code owners:
#  * baci teams (@baci/team_name)
#  * baci developer group (@baci/baci_developers)
#  * baci maintainer group (@baci/baci_maintainer)
#
# note:
#  * single developers are no eligible code owners!
#  * combinations of eligible code owners are possible
#  * later matches override earlier matches
#
# refer to:
# https://docs.gitlab.com/ee/user/project/code_owners.html
# -------------------------------------------------------------------------------------------------------------------- #

# --- specify default code owner ------------------------------------------------------------------------------------- #
*                                  @baci/baci_maintainer



# --- specify code owner of basic directories and file --------------------------------------------------------------- #

/buildconfig/                      @baci/baci_maintainer @baci/team_infrastructure

/cmake/                            @baci/baci_maintainer @baci/team_infrastructure

/doc/                              @baci/baci_maintainer @baci/team_infrastructure

/doc_removed_code/                 @baci/baci_maintainer

/guides/                           @baci/team_infrastructure

/tests/                            @baci/team_testing

/trilinos/                         @baci/team_infrastructure

# Note: the code ownership of the respective unit test directories
# can be overwritten by the specification based on the BACI source directories
/unittests*/                       @baci/team_testing

/utilities/                        @baci/baci_maintainer @baci/team_infrastructure

# --- specify code owner of BACI source directories (including corresponding unit test directory) -------------------- #
#
# Note: omitting a leading `/` in the list below matches not only
# the directory baci/src/<dir> but also baci/unittests/<dir>

# Note: stick to alphabetical order

drt_adapter/                   @baci/team_discretization
drt_adapter/ad_ale*                        @baci/team_fluid
drt_adapter/ad_ale_wear*                   @baci/team_contact
drt_adapter/ad_art_net.H                   @baci/team_reduced_fluid_models
drt_adapter/ad_fld_*                       @baci/team_fluid
drt_adapter/ad_fld_poro*                   @baci/team_poro
drt_adapter/ad_poro*                       @baci/team_poro
drt_adapter/ad_scatra_*                    @baci/team_scatra
drt_adapter/ad_str_*                       @baci/team_structure
drt_adapter/ad_str_fpsiwrapper*            @baci/team_poro @baci/team_fluid
drt_adapter/ad_str_poro_wrapper*           @baci/team_poro
drt_adapter/adapter_coupling*              @baci/team_contact
drt_adapter/adapter_coupling_poro_mortar*  @baci/team_poro
drt_adapter/adapter_scatra_*               @baci/team_scatra
drt_adapter/adapter_thermo*                @baci/team_thermo

drt_ale/                       @baci/team_fluid

drt_ale2/                      @baci/team_fluid

drt_ale3/                      @baci/team_fluid

drt_art_net/                   @baci/team_reduced_fluid_models

drt_beam3/                     @baci/team_structure

drt_beamcontact/               @baci/team_structure

drt_beaminteraction/           @baci/team_structure

drt_bele3/                     @baci/team_discretization

drt_binstrategy/               @baci/team_discretization

drt_browniandyn/               @baci/team_structure

drt_cardiovascular0d/          @baci/team_reduced_fluid_models

drt_comm/                      @baci/team_discretization

drt_constraint/                @baci/team_discretization

drt_contact/                   @baci/team_contact
drt_contact/contact_nitsche_integrator_poro*  @baci/team_poro @baci/team_contact
drt_contact/contact_nitsche_strategy_poro*    @baci/team_poro @baci/team_contact
drt_contact/contact_poro_*                    @baci/team_poro @baci/team_contact
drt_contact/meshtying_poro_*                  @baci/team_poro @baci/team_contact

drt_contact_aug/               @baci/team_contact

drt_contact_constitutivelaw/   @baci/team_contact

drt_cut/                       @baci/team_fluid

drt_discsh3/                   @baci/team_structure

drt_ehl/                       @baci/team_scatra

drt_elch/                      @baci/team_scatra

drt_elemag/                    @baci/team_scatra

drt_fbi/                       @baci/team_fsi

drt_fem_general/               @baci/team_discretization

drt_fiber/                     @baci/team_discretization

drt_fluid/                     @baci/team_fluid
drt_fluid/fluid_timint_poro*   @baci/team_poro @baci/team_fluid

drt_fluid_ele/                 @baci/team_fluid
drt_fluid_ele/fluid_ele_boundary_calc_poro*  @baci/team_poro @baci/team_fluid
drt_fluid_ele/fluid_ele_calc_poro*           @baci/team_poro @baci/team_fluid
drt_fluid_ele/fluid_ele_parameter_poro*      @baci/team_poro @baci/team_fluid
drt_fluid_ele/fluid_ele_poro*                @baci/team_poro @baci/team_fluid

drt_fluid_turbulence/          @baci/team_fluid

drt_fluid_xfluid/              @baci/team_fluid

drt_fpsi/                      @baci/team_fsi @baci/team_poro

drt_fs3i/                      @baci/team_fsi

drt_fsi/                       @baci/team_fsi

drt_fsi_xfem/                  @baci/team_fsi

drt_geometric_search/          @baci/team_contact @baci/team_structure

drt_geometry/                  @baci/team_discretization

drt_geometry_pair/             @baci/team_discretization

drt_immersed_problem/          @baci/team_fsi

drt_inpar/                     @baci/team_input
drt_inpar/drt_validcontactconstitutivelaw* @baci/team_contact
drt_inpar/drt_validmaterials*  @baci/team_material
drt_inpar/inpar_ale*           @baci/team_fsi
drt_inpar/inpar_beam*          @baci/team_input @baci/team_structure
drt_inpar/inpar_bio*           @baci/team_reduced_fluid_models
drt_inpar/inpar_contact*       @baci/team_contact
drt_inpar/inpar_fbi*           @baci/team_fsi
drt_inpar/inpar_fluid*         @baci/team_fluid
drt_inpar/inpar_fpsi*          @baci/team_poro @baci/team_fluid
drt_inpar/inpar_fsi*           @baci/team_fsi
drt_inpar/inpar_IO_runtime_vt*_output*                 @baci/team_input @baci/team_output
drt_inpar/inpar_materials*    @baci/team_material
drt_inpar/inpar_particle*      @baci/team_particle
drt_inpar/inpar_pasi*          @baci/team_particle
drt_inpar/inpar_poro*          @baci/team_poro
drt_inpar/inpar_solver*        @baci/team_solvers

drt_inv_analysis/              @baci/team_queens

drt_io/                        @baci/team_input @baci/team_output

drt_levelset/                  @baci/team_fluid

drt_lib/                       @baci/team_discretization
drt_lib/drt_material*          @baci/team_material
drt_lib/drt_parobject*         @baci/team_infrastructure
drt_lib/drt_particlereader*    @baci/team_particle

drt_loma/                      @baci/team_fluid

drt_lubrication/               @baci/team_scatra

drt_lubrication_ele/           @baci/team_scatra

drt_mat/                       @baci/team_material
drt_mat/anisotropy*            @baci/team_structure @baci/team_material
drt_mat/beam*                  @baci/team_structure @baci/team_material
drt_mat/cnst_1d_art*           @baci/team_reduced_fluid_models
drt_mat/fluidporo*             @baci/team_poro
drt_mat/membrane_elasthyper*   @baci/team_structure @baci/team_material
drt_mat/mixture_elasthyper*    @baci/team_structure @baci/team_material
drt_mat/particle_material*     @baci/team_particle
drt_mat/poro*                  @baci/team_poro
drt_mat/scatra_mat_multiporo*  @baci/team_poro @baci/team_scatra
drt_mat/scatra_mat_poro*       @baci/team_poro @baci/team_scatra
drt_mat/structporo*            @baci/team_poro

drt_matelast/                  @baci/team_material

drt_membrane/                  @baci/team_structure

drt_mixture/                   @baci/team_structure @baci/team_material

drt_mor/                       @baci/team_structure

drt_mortar/                    @baci/team_contact

drt_nurbs_discret/             @baci/team_discretization

drt_opti/                      @baci/team_fluid

drt_particle_algorithm/        @baci/team_particle

drt_particle_engine/           @baci/team_particle

drt_particle_interaction/      @baci/team_particle

drt_particle_rigidbody/        @baci/team_particle

drt_particle_wall/             @baci/team_particle

drt_pasi/                      @baci/team_particle

drt_patspec/                   @baci/baci_maintainer # todo: ask Jonas Biehler

drt_poroelast/                 @baci/team_poro

drt_porofluidmultiphase/       @baci/team_poro

drt_porofluidmultiphase_ele/   @baci/team_poro

drt_poromultiphase/            @baci/team_poro

drt_poromultiphase_scatra/     @baci/team_poro

drt_red_airways/               @baci/team_reduced_fluid_models

drt_rigidsphere/               @baci/team_structure

drt_s8/                        @baci/team_structure

drt_scatra/                    @baci/team_scatra
drt_scatra/scatra_timint_meshtying_strategy_artery*  @baci/team_scatra @baci/team_reduced_fluid_models
drt_scatra/scatra_timint_poro*                       @baci/team_scatra @baci/team_poro


drt_scatra_ele/                @baci/team_scatra
drt_scatra_ele/scatra_ele_boundary_calc_poro*  @baci/team_scatra @baci/team_poro
drt_scatra_ele/scatra_ele_calc_artery*         @baci/team_scatra @baci/team_reduced_fluid_models
drt_scatra_ele/scatra_ele_calc_multiporo*      @baci/team_scatra @baci/team_poro
drt_scatra_ele/scatra_ele_calc_poro*           @baci/team_scatra @baci/team_poro

drt_so3/                       @baci/team_structure
drt_so3/so3_poro*              @baci/team_structure @baci/team_poro

drt_spring3/                   @baci/team_structure

drt_ssi/                       @baci/team_scatra

drt_ssti/                      @baci/team_scatra

drt_sti/                       @baci/team_scatra

drt_stru_multi/                @baci/team_discretization # todo

drt_struct_ale/                @baci/team_structure

drt_structure/                 @baci/team_structure

drt_structure_new/             @baci/team_structure

drt_structure_xstructure/      @baci/team_structure

drt_surfstress/                @baci/team_discretization

drt_thermo/                    @baci/team_thermo

drt_timestepping/              @baci/team_discretization

drt_torsion3/                  @baci/team_structure

drt_truss3/                    @baci/team_structure

drt_truss3cl/                  @baci/team_structure

drt_tsi/                       @baci/team_thermo

drt_tutorial/                  @baci/team_infrastructure

drt_two_phase_flow/            @baci/team_fluid

drt_volmortar/                 @baci/team_contact

drt_w1/                        @baci/team_structure
drt_w1/wall1_poro*             @baci/team_structure @baci/team_poro

drt_wear/                      @baci/team_contact

drt_xfem/                      @baci/team_fluid

fortran/                       @baci/team_discretization

global_full/                   @baci/team_discretization

headers/                       @baci/team_discretization

linalg/                        @baci/team_solvers

loca_continuation/             @baci/team_solvers

post_drt_common/               @baci/team_output

post_ensight/                  @baci/team_output

post_monitor/                  @baci/team_output

post_s8convert/                @baci/team_output

post_vtk/                      @baci/team_output

pre_exodus/                    @baci/team_input

pre_locsys/                    @baci/team_input

pss_full/                      @baci/team_discretization

solver/                        @baci/team_solvers

solver_nonlin_nox/             @baci/team_solvers



# --- specify code owner of files in Baci Input directory ------------------------------------------------------------ #
/Input/**                          @baci/baci_developers

/Input/ale*                        @baci/team_fluid

/Input/beam3*                      @baci/team_structure

/Input/cardiovascular0d*           @baci/team_reduced_fluid_models

/Input/contact*                    @baci/team_contact

/Input/elch_*                      @baci/team_scatra

/Input/f2_*                        @baci/team_fluid
/Input/f3_*                        @baci/team_fluid

/Input/fbi_*                       @baci/team_fsi

/Input/fpsi_*                      @baci/team_fsi @baci/team_poro

/Input/fsi_*                       @baci/team_fsi

/Input/homogenized-constrained-mixture* @baci/team_structure

/Input/mat*                        @baci/team_material

/Input/membrane*                   @baci/team_structure

/Input/meshtying*                  @baci/team_contact

/Input/mixture*                    @baci/team_structure

/Input/one_d_3_artery*             @baci/team_reduced_fluid_models

/Input/particle_nointer*           @baci/team_particle
/Input/particle_dem*               @baci/team_particle
/Input/particle_sph*               @baci/team_particle
/Input/pasi*                       @baci/team_particle

/Input/poro*                       @baci/team_poro

/Input/prestress*                  @baci/team_structure

/Input/ref/beam*/**                @baci/team_structure
/Input/ref/fluid*/**               @baci/team_fluid
/Input/ref/fsi*/**                 @baci/team_fluid @baci/team_fsi
/Input/ref/particle*/**            @baci/team_particle
/Input/ref/pasi*/**                @baci/team_particle
/Input/ref/sohex8fbar*/**          @baci/team_structure
/Input/ref/solid*/**               @baci/team_structure
/Input/ref/ssi*                    @baci/team_scatra
/Input/ref/ssti*                   @baci/team_scatra
/Input/ref/structure*/**           @baci/team_structure

Input/rigidsphere*                 @baci/team_structure

/Input/scatra*                     @baci/team_scatra

/Input/solid*                      @baci/team_structure

/Input/spring_dashpot*             @baci/team_discretization

/Input/ssi*                        @baci/team_scatra
/Input/ssti*                       @baci/team_scatra
/Input/sti*                        @baci/team_scatra

/Input/thermo*                     @baci/team_thermo

/Input/truss3*                     @baci/team_structure

/Input/tsi*                        @baci/team_thermo

/Input/volmortar*                  @baci/team_contact

/Input/wear*                       @baci/team_contact

/Input/xfluid_*                    @baci/team_fluid

# infrastructure configuration files

# put CMakeLists.txt last to override folder owners
*CMakeLists.txt                    @baci/baci_maintainer @baci/team_infrastructure
do-configure                       @baci/team_infrastructure @baci/baci_maintainer

# testing framework configuration files
TestingFramework.cmake             @baci/team_testing
TestingFrameworkListOfTests.cmake  @baci/baci_developers
UnittestingFramework.cmake         @baci/team_testing

