# -------------------------------------------------------------------------------------------------------------------- #
# BACI code owners file
#
# eligible code owners:
#  * baci teams (@baci/team_name)
#  * baci developer group (@baci/baci_developers)
#  * baci maintainer group (@baci/baci_maintainer)
#
# note:
#  * single developers are no eligible code owners!
#  * combinations of eligible code owners are possible
#  * later matches override earlier matches
#
# refer to:
# https://docs.gitlab.com/ee/user/project/code_owners.html
# -------------------------------------------------------------------------------------------------------------------- #

# --- specify default code owner ------------------------------------------------------------------------------------- #
*                                  @baci/baci_maintainer



# --- specify code owner of basic directories and file --------------------------------------------------------------- #

/buildconfig/                      @baci/baci_maintainer @baci/team_infrastructure

/cmake/                            @baci/baci_maintainer @baci/team_infrastructure

/doc/                              @baci/baci_maintainer @baci/team_infrastructure

/doc_removed_code/                 @baci/baci_maintainer

/guides/                           @baci/team_infrastructure

/tests/                            @baci/team_testing

/trilinos/                         @baci/team_infrastructure

# Note: the code ownership of the respective unit test directories
# can be overwritten by the specification based on the BACI source directories
/unittests*/                       @baci/team_testing

/utilities/                        @baci/baci_maintainer @baci/team_infrastructure

# --- specify code owner of BACI source directories (including corresponding unit test directory) -------------------- #
#
# Note: omitting a leading `/` in the list below matches not only
# the directory baci/src/<dir> but also baci/unittests/<dir>

# Note: stick to alphabetical order

adapter/                   @baci/team_discretization
adapter/ad_ale*                        @baci/team_fluid
adapter/ad_ale_wear*                   @baci/team_contact
adapter/ad_art_net.H                   @baci/team_reduced_fluid_models
adapter/ad_fld_*                       @baci/team_fluid
adapter/ad_fld_poro*                   @baci/team_poro
adapter/ad_poro*                       @baci/team_poro
adapter/ad_scatra_*                    @baci/team_scatra
adapter/ad_str_*                       @baci/team_structure
adapter/ad_str_fpsiwrapper*            @baci/team_poro @baci/team_fluid
adapter/ad_str_poro_wrapper*           @baci/team_poro
adapter/adapter_coupling*              @baci/team_contact
adapter/adapter_coupling_poro_mortar*  @baci/team_poro
adapter/adapter_scatra_*               @baci/team_scatra
adapter/adapter_thermo*                @baci/team_thermo

ale/                       @baci/team_fluid

ale2/                      @baci/team_fluid

ale3/                      @baci/team_fluid

art_net/                   @baci/team_reduced_fluid_models

beam3/                     @baci/team_structure

beamcontact/               @baci/team_structure

beaminteraction/           @baci/team_structure

bele3/                     @baci/team_discretization

binstrategy/               @baci/team_discretization

browniandyn/               @baci/team_structure

cardiovascular0d/          @baci/team_reduced_fluid_models

comm/                      @baci/team_discretization

config/                    @baci/team_infrastructure

constraint/                @baci/team_discretization

contact/                   @baci/team_contact
contact/contact_nitsche_integrator_poro*  @baci/team_poro @baci/team_contact
contact/contact_nitsche_strategy_poro*    @baci/team_poro @baci/team_contact
contact/contact_poro_*                    @baci/team_poro @baci/team_contact
contact/meshtying_poro_*                  @baci/team_poro @baci/team_contact

contact_aug/               @baci/team_contact

contact_constitutivelaw/   @baci/team_contact

cut/                       @baci/team_fluid

discsh3/                   @baci/team_structure

ehl/                       @baci/team_scatra

elch/                      @baci/team_scatra

elemag/                    @baci/team_scatra

fbi/                       @baci/team_fsi

fem_general/               @baci/team_discretization

fiber/                     @baci/team_discretization

fluid/                     @baci/team_fluid
fluid/fluid_timint_poro*   @baci/team_poro @baci/team_fluid

fluid_ele/                 @baci/team_fluid
fluid_ele/fluid_ele_boundary_calc_poro*  @baci/team_poro @baci/team_fluid
fluid_ele/fluid_ele_calc_poro*           @baci/team_poro @baci/team_fluid
fluid_ele/fluid_ele_parameter_poro*      @baci/team_poro @baci/team_fluid
fluid_ele/fluid_ele_poro*                @baci/team_poro @baci/team_fluid

fluid_turbulence/          @baci/team_fluid

fluid_xfluid/              @baci/team_fluid

fpsi/                      @baci/team_fsi @baci/team_poro

fs3i/                      @baci/team_fsi

fsi/                       @baci/team_fsi

fsi_xfem/                  @baci/team_fsi

geometric_search/          @baci/team_contact @baci/team_structure

geometry/                  @baci/team_discretization

geometry_pair/             @baci/team_discretization

immersed_problem/          @baci/team_fsi

inpar/                     @baci/team_input
inpar/validcontactconstitutivelaw* @baci/team_contact
inpar/validmaterials*  @baci/team_material
inpar/inpar_ale*           @baci/team_fsi
inpar/inpar_beam*          @baci/team_input @baci/team_structure
inpar/inpar_bio*           @baci/team_reduced_fluid_models
inpar/inpar_contact*       @baci/team_contact
inpar/inpar_fbi*           @baci/team_fsi
inpar/inpar_fluid*         @baci/team_fluid
inpar/inpar_fpsi*          @baci/team_poro @baci/team_fluid
inpar/inpar_fsi*           @baci/team_fsi
inpar/inpar_IO_runtime_vt*_output*                 @baci/team_input @baci/team_output
inpar/inpar_materials*    @baci/team_material
inpar/inpar_particle*      @baci/team_particle
inpar/inpar_pasi*          @baci/team_particle
inpar/inpar_poro*          @baci/team_poro
inpar/inpar_solver*        @baci/team_solvers

inv_analysis/              @baci/team_queens

io/                        @baci/team_input @baci/team_output

levelset/                  @baci/team_fluid

lib/                       @baci/team_discretization
lib/material*          @baci/team_material
lib/parobject*         @baci/team_infrastructure
lib/particlereader*    @baci/team_particle

loma/                      @baci/team_fluid

lubrication/               @baci/team_scatra

lubrication_ele/           @baci/team_scatra

mat/                       @baci/team_material
mat/anisotropy*            @baci/team_structure @baci/team_material
mat/beam*                  @baci/team_structure @baci/team_material
mat/cnst_1d_art*           @baci/team_reduced_fluid_models
mat/fluidporo*             @baci/team_poro
mat/membrane_elasthyper*   @baci/team_structure @baci/team_material
mat/mixture_elasthyper*    @baci/team_structure @baci/team_material
mat/particle_material*     @baci/team_particle
mat/poro*                  @baci/team_poro
mat/scatra_mat_multiporo*  @baci/team_poro @baci/team_scatra
mat/scatra_mat_poro*       @baci/team_poro @baci/team_scatra
mat/structporo*            @baci/team_poro

matelast/                  @baci/team_material

membrane/                  @baci/team_structure

mixture/                   @baci/team_structure @baci/team_material

mor/                       @baci/team_structure

mortar/                    @baci/team_contact

nurbs_discret/             @baci/team_discretization

particle_algorithm/        @baci/team_particle

particle_engine/           @baci/team_particle

particle_interaction/      @baci/team_particle

particle_rigidbody/        @baci/team_particle

particle_wall/             @baci/team_particle

pasi/                      @baci/team_particle

patspec/                   @baci/baci_maintainer # todo: ask Jonas Biehler

poroelast/                 @baci/team_poro

porofluidmultiphase/       @baci/team_poro

porofluidmultiphase_ele/   @baci/team_poro

poromultiphase/            @baci/team_poro

poromultiphase_scatra/     @baci/team_poro

red_airways/               @baci/team_reduced_fluid_models

rigidsphere/               @baci/team_structure

s8/                        @baci/team_structure

scatra/                    @baci/team_scatra
scatra/scatra_timint_meshtying_strategy_artery*  @baci/team_scatra @baci/team_reduced_fluid_models
scatra/scatra_timint_poro*                       @baci/team_scatra @baci/team_poro


scatra_ele/                @baci/team_scatra
scatra_ele/scatra_ele_boundary_calc_poro*  @baci/team_scatra @baci/team_poro
scatra_ele/scatra_ele_calc_artery*         @baci/team_scatra @baci/team_reduced_fluid_models
scatra_ele/scatra_ele_calc_multiporo*      @baci/team_scatra @baci/team_poro
scatra_ele/scatra_ele_calc_poro*           @baci/team_scatra @baci/team_poro

so3/                       @baci/team_structure
so3/so3_poro*              @baci/team_structure @baci/team_poro

spring3/                   @baci/team_structure

ssi/                       @baci/team_scatra

ssti/                      @baci/team_scatra

sti/                       @baci/team_scatra

stru_multi/                @baci/team_discretization # todo

struct_ale/                @baci/team_structure

structure/                 @baci/team_structure

structure_new/             @baci/team_structure

structure_xstructure/      @baci/team_structure

surfstress/                @baci/team_discretization

thermo/                    @baci/team_thermo

timestepping/              @baci/team_discretization

torsion3/                  @baci/team_structure

truss3/                    @baci/team_structure

truss3cl/                  @baci/team_structure

tsi/                       @baci/team_thermo

tutorial/                  @baci/team_infrastructure

two_phase_flow/            @baci/team_fluid

volmortar/                 @baci/team_contact

w1/                        @baci/team_structure
w1/wall1_poro*             @baci/team_structure @baci/team_poro

wear/                      @baci/team_contact

xfem/                      @baci/team_fluid

fortran/                       @baci/team_discretization

global_full/                   @baci/team_discretization

headers/                       @baci/team_discretization

linalg/                        @baci/team_solvers

loca_continuation/             @baci/team_solvers

post_common/               @baci/team_output

post_ensight/                  @baci/team_output

post_monitor/                  @baci/team_output

post_s8convert/                @baci/team_output

post_vtk/                      @baci/team_output

pre_exodus/                    @baci/team_input

pre_locsys/                    @baci/team_input

pss_full/                      @baci/team_discretization

solver/                        @baci/team_solvers

solver_nonlin_nox/             @baci/team_solvers



# --- specify code owner of files in Baci Input directory ------------------------------------------------------------ #
/Input/**                          @baci/baci_developers

/Input/ale*                        @baci/team_fluid

/Input/beam3*                      @baci/team_structure

/Input/cardiovascular0d*           @baci/team_reduced_fluid_models

/Input/contact*                    @baci/team_contact

/Input/elch_*                      @baci/team_scatra

/Input/f2_*                        @baci/team_fluid
/Input/f3_*                        @baci/team_fluid

/Input/fbi_*                       @baci/team_fsi

/Input/fpsi_*                      @baci/team_fsi @baci/team_poro

/Input/fsi_*                       @baci/team_fsi

/Input/homogenized-constrained-mixture* @baci/team_structure

/Input/mat*                        @baci/team_material

/Input/membrane*                   @baci/team_structure

/Input/meshtying*                  @baci/team_contact

/Input/mixture*                    @baci/team_structure

/Input/one_d_3_artery*             @baci/team_reduced_fluid_models

/Input/particle_nointer*           @baci/team_particle
/Input/particle_dem*               @baci/team_particle
/Input/particle_sph*               @baci/team_particle
/Input/pasi*                       @baci/team_particle

/Input/poro*                       @baci/team_poro

/Input/prestress*                  @baci/team_structure

/Input/ref/beam*/**                @baci/team_structure
/Input/ref/fluid*/**               @baci/team_fluid
/Input/ref/fsi*/**                 @baci/team_fluid @baci/team_fsi
/Input/ref/particle*/**            @baci/team_particle
/Input/ref/pasi*/**                @baci/team_particle
/Input/ref/sohex8fbar*/**          @baci/team_structure
/Input/ref/solid*/**               @baci/team_structure
/Input/ref/ssi*                    @baci/team_scatra
/Input/ref/ssti*                   @baci/team_scatra
/Input/ref/structure*/**           @baci/team_structure

Input/rigidsphere*                 @baci/team_structure

/Input/scatra*                     @baci/team_scatra

/Input/solid*                      @baci/team_structure

/Input/spring_dashpot*             @baci/team_discretization

/Input/ssi*                        @baci/team_scatra
/Input/ssti*                       @baci/team_scatra
/Input/sti*                        @baci/team_scatra

/Input/thermo*                     @baci/team_thermo

/Input/truss3*                     @baci/team_structure

/Input/tsi*                        @baci/team_thermo

/Input/volmortar*                  @baci/team_contact

/Input/wear*                       @baci/team_contact

/Input/xfluid_*                    @baci/team_fluid

# infrastructure configuration files

# put CMakeLists.txt last to override folder owners
*CMakeLists.txt                    @baci/baci_maintainer @baci/team_infrastructure
do-configure                       @baci/team_infrastructure @baci/baci_maintainer

# testing framework configuration files
TestingFramework.cmake             @baci/team_testing
TestingFrameworkListOfTests.cmake  @baci/baci_developers
UnittestingFramework.cmake         @baci/team_testing

