# -------------------------------------------------------------------------------------------------------------------- #
# BACI code owners file
#
# eligible code owners:
#  * baci teams (@baci/team_name)
#  * baci developer group (@baci/baci_developers)
#  * baci maintainer group (@baci/baci_maintainer)
#
# note:
#  * single developers are no eligible code owners!
#  * combinations of eligible code owners are possible
#  * later matches override earlier matches
#
# refer to:
# https://docs.gitlab.com/ee/user/project/code_owners.html
# -------------------------------------------------------------------------------------------------------------------- #

# --- specify default code owner ------------------------------------------------------------------------------------- #
*                                  @baci/baci_maintainer



# --- specify code owner of basic directories and file --------------------------------------------------------------- #

/cmake/                            @baci/baci_maintainer @baci/team_infrastructure

/dependencies/                     @baci/baci_maintainer @baci/team_infrastructure

/doc/                              @baci/baci_maintainer @baci/team_infrastructure

/doc_removed_code/                 @baci/baci_maintainer

/docker/                           @baci/baci_maintainer @baci/team_infrastructure

/presets/                          @baci/team_infrastructure

/tests/                            @baci/team_testing

# Note: the code ownership of the respective unit test directories
# can be overwritten by the specification based on the BACI source directories

/unittests*/                       @baci/team_testing

/utilities/                        @baci/baci_maintainer @baci/team_infrastructure

# --- specify code owner of BACI source directories (including corresponding unit test directory) -------------------- #
#
# Note: omitting a leading `/` in the list below matches not only
# the directory baci/src/<dir> but also baci/unittests/<dir>

# Note: stick to alphabetical order

adapter/                                    @baci/team_discretization
adapter/baci_adapter_ale*                        @baci/team_fluid
adapter/baci_adapter_ale_wear*                   @baci/team_contact
adapter/baci_adapter_algorithmbase*              @baci/team_discretization
adapter/baci_adapter_art_net.H                   @baci/team_reduced_fluid_models
adapter/baci_adapter_coupling*                   @baci/team_contact
adapter/baci_adapter_coupling_poro_mortar*       @baci/team_poro
adapter/baci_adapter_field.H                     @baci/team_discretization
adapter/baci_adapter_field_wrapper*              @baci/team_discretization
adapter/baci_adapter_fld_*                       @baci/team_fluid
adapter/baci_adapter_fld_poro*                   @baci/team_poro
adapter/baci_adapter_lubrication*                @baci/team_scatra
adapter/baci_adapter_poro*                       @baci/team_poro
adapter/baci_adapter_scatra_*                    @baci/team_scatra
adapter/baci_adapter_str_*                       @baci/team_structure
adapter/baci_adapter_str_fpsiwrapper*            @baci/team_poro @baci/team_fluid
adapter/baci_adapter_str_poro_wrapper*           @baci/team_poro
adapter/baci_adapter_structure_scatra_ele*       @baci/team_scatra
adapter/baci_adapter_thermo*                     @baci/team_thermo

ale/                       @baci/team_fluid

art_net/                   @baci/team_reduced_fluid_models

beam3/                     @baci/team_structure

beamcontact/               @baci/team_structure

beaminteraction/           @baci/team_structure

bele/                      @baci/team_discretization

binstrategy/               @baci/team_discretization

browniandyn/               @baci/team_structure

cardiovascular0d/          @baci/team_reduced_fluid_models

comm/                      @baci/team_discretization

config/                    @baci/team_infrastructure

constraint/                @baci/team_discretization

constraint_framework/      @baci/team_structure

contact/                   @baci/team_contact
contact/baci_contact_meshtying_poro_*          @baci/team_poro @baci/team_contact
contact/baci_contact_nitsche_integrator_poro*  @baci/team_poro @baci/team_contact
contact/baci_contact_nitsche_strategy_poro*    @baci/team_poro @baci/team_contact
contact/baci_contact_poro_*                    @baci/team_poro @baci/team_contact

contact_aug/               @baci/team_contact

contact_constitutivelaw/   @baci/team_contact

core/                      @baci/team_infrastructure
core/coupling              @baci/team_discretization
core/discretization        @baci/team_discretization
core/linear_solver         @baci/team_solvers
core/utils                 @baci/team_infrastructure

create_rtdfiles/           @baci/team_infrastructure

cut/                       @baci/team_fluid

ehl/                       @baci/team_scatra

elch/                      @baci/team_scatra

elemag/                    @baci/team_scatra

fbi/                       @baci/team_fsi

fiber/                     @baci/team_discretization

fluid/                     @baci/team_fluid
fluid/baci_fluid_timint_poro*   @baci/team_poro @baci/team_fluid

fluid_ele/                 @baci/team_fluid
fluid_ele/baci_fluid_ele_boundary_calc_poro*  @baci/team_poro @baci/team_fluid
fluid_ele/baci_fluid_ele_calc_poro*           @baci/team_poro @baci/team_fluid
fluid_ele/baci_fluid_ele_parameter_poro*      @baci/team_poro @baci/team_fluid
fluid_ele/baci_fluid_ele_poro*                @baci/team_poro @baci/team_fluid

fluid_turbulence/          @baci/team_fluid

fluid_xfluid/              @baci/team_fluid

fpsi/                      @baci/team_fsi @baci/team_poro

fs3i/                      @baci/team_fsi

fsi/                       @baci/team_fsi

fsi_xfem/                  @baci/team_fsi

geometric_search/          @baci/team_contact @baci/team_structure

geometry/                  @baci/team_discretization

geometry_pair/             @baci/team_discretization

global_full/               @baci/team_discretization

global_legacy_module/      @baci/team_infrastructure

headers/                   @baci/team_discretization

immersed_problem/          @baci/team_fsi

inpar/                     @baci/team_input
inpar/baci_inpar_ale*               @baci/team_fsi
inpar/baci_inpar_beam*              @baci/team_input @baci/team_structure
inpar/baci_inpar_bio*               @baci/team_reduced_fluid_models
inpar/baci_inpar_contact*           @baci/team_contact
inpar/baci_inpar_fbi*               @baci/team_fsi
inpar/baci_inpar_fluid*             @baci/team_fluid
inpar/baci_inpar_fpsi*              @baci/team_poro @baci/team_fluid
inpar/baci_inpar_fsi*               @baci/team_fsi
inpar/baci_inpar_IO_runtime_vt*_output*                  @baci/team_input @baci/team_output
inpar/baci_inpar_material*          @baci/team_material
inpar/baci_inpar_particle*          @baci/team_particle
inpar/baci_inpar_pasi*              @baci/team_particle
inpar/baci_inpar_poro*              @baci/team_poro
inpar/baci_inpar_solver*            @baci/team_solvers
inpar/baci_inpar_validcontactconstitutivelaw*            @baci/team_contact
inpar/baci_inpar_validmaterials*                         @baci/team_material

io/                        @baci/team_input @baci/team_output
io/baci_io_material*              @baci/team_material

levelset/                  @baci/team_fluid

lib/                       @baci/team_discretization
lib/baci_lib_parobject*             @baci/team_infrastructure

linalg/                    @baci/team_solvers

loma/                      @baci/team_fluid

lubrication/               @baci/team_scatra

lubrication_ele/           @baci/team_scatra

mat/                       @baci/team_material
mat/baci_mat_anisotropy*            @baci/team_structure @baci/team_material
mat/baci_mat_beam*                  @baci/team_structure @baci/team_material
mat/baci_mat_cnst_1d_art*           @baci/team_reduced_fluid_models
mat/baci_mat_fluidporo*             @baci/team_poro
mat/baci_mat_membrane_elasthyper*   @baci/team_structure @baci/team_material
mat/baci_mat_poro*                  @baci/team_poro
mat/baci_mat_scatra_mat_multiporo*  @baci/team_poro @baci/team_scatra
mat/baci_mat_scatra_mat_poro*       @baci/team_poro @baci/team_scatra
mat/baci_mat_structporo*            @baci/team_poro

matelast/                  @baci/team_material

membrane/                  @baci/team_structure

mixture/                   @baci/team_structure @baci/team_material

module_registry/          @baci/team_discretization

mor/                       @baci/team_structure

mortar/                    @baci/team_contact

nurbs_discret/             @baci/team_discretization

particle_algorithm/        @baci/team_particle

particle_engine/           @baci/team_particle

particle_interaction/      @baci/team_particle

particle_rigidbody/        @baci/team_particle

particle_wall/             @baci/team_particle

pasi/                      @baci/team_particle

poroelast/                 @baci/team_poro

poroelast_scatra/          @baci/team_scatra

porofluidmultiphase/       @baci/team_poro

porofluidmultiphase_ele/   @baci/team_poro

poromultiphase/            @baci/team_poro

poromultiphase_scatra/     @baci/team_poro

post_common/               @baci/team_output

post_ensight/              @baci/team_output

post_monitor/              @baci/team_output

post_vtk/                  @baci/team_output

pre_exodus/                @baci/team_input

pre_locsys/                @baci/team_input

rebalance/                 @baci/team_discretization

red_airways/               @baci/team_reduced_fluid_models

rigidsphere/               @baci/team_structure

scatra/                    @baci/team_scatra
scatra/baci_scatra_timint_meshtying_strategy_artery*  @baci/team_scatra @baci/team_reduced_fluid_models
scatra/baci_scatra_timint_poro*                       @baci/team_scatra @baci/team_poro


scatra_ele/                @baci/team_scatra
scatra_ele/baci_scatra_ele_boundary_calc_poro*  @baci/team_scatra @baci/team_poro
scatra_ele/baci_scatra_ele_calc_artery*         @baci/team_scatra @baci/team_reduced_fluid_models
scatra_ele/baci_scatra_ele_calc_multiporo*      @baci/team_scatra @baci/team_poro
scatra_ele/baci_scatra_ele_calc_poro*           @baci/team_scatra @baci/team_poro

shell7p/                   @baci/team_structure

so3/                       @baci/team_structure
so3/baci_so3_poro*         @baci/team_structure @baci/team_poro

solid_ele/                 @baci/team_structure

solver_nonlin_nox/         @baci/team_solvers

ssi/                       @baci/team_scatra

ssti/                      @baci/team_scatra

sti/                       @baci/team_scatra

stru_multi/                @baci/team_discretization

struct_ale/                @baci/team_structure

structure/                 @baci/team_structure

structure_new/             @baci/team_structure

surfstress/                @baci/team_discretization

thermo/                    @baci/team_thermo

timestepping/              @baci/team_discretization

torsion3/                  @baci/team_structure

truss3/                    @baci/team_structure

tsi/                       @baci/team_thermo

tutorial/                  @baci/team_infrastructure

w1/                        @baci/team_structure
w1/baci_w1_poro*           @baci/team_structure @baci/team_poro

wear/                      @baci/team_contact

xfem/                      @baci/team_fluid



# --- specify code owner of files in tests/input_files directory ------------------------------------------------------------ #
/tests/input_files/**                          @baci/baci_developers

/tests/input_files/ale*                        @baci/team_fluid

/tests/input_files/beam3*                      @baci/team_structure

/tests/input_files/cardiovascular0d*           @baci/team_reduced_fluid_models

/tests/input_files/constr*                     @baci/team_structure

/tests/input_files/contact*                    @baci/team_contact

/tests/input_files/ehl*                        @baci/team_scatra

/tests/input_files/elasthyper*                 @baci/team_material

/tests/input_files/elch_*                      @baci/team_scatra

/tests/input_files/elemag*                     @baci/team_scatra

/tests/input_files/f2_*                        @baci/team_fluid
/tests/input_files/f3_*                        @baci/team_fluid

/tests/input_files/fbi_*                       @baci/team_fsi

/tests/input_files/fpsi_*                      @baci/team_fsi @baci/team_poro

/tests/input_files/fsi_*                       @baci/team_fsi

/tests/input_files/homogenized-constrained-mixture* @baci/team_structure

/tests/input_files/loma*                       @baci/team_fluid

/tests/input_files/mat*                        @baci/team_material

/tests/input_files/membrane*                   @baci/team_structure

/tests/input_files/meshtying*                  @baci/team_contact

/tests/input_files/mixture*                    @baci/team_structure

/tests/input_files/new_solid_ele*              @baci/team_structure

/tests/input_files/one_d_3_artery*             @baci/team_reduced_fluid_models

/tests/input_files/particle_dem*               @baci/team_particle
/tests/input_files/particle_nointer*           @baci/team_particle
/tests/input_files/particle_sph*               @baci/team_particle
/tests/input_files/pasi*                       @baci/team_particle

/tests/input_files/plastic*                    @baci/team_material

/tests/input_files/poro*                       @baci/team_poro

/tests/input_files/prestress*                  @baci/team_structure

/tests/input_files/red_airway*                @baci/team_reduced_fluid_models

/tests/input_files/ref/beam*/**/*              @baci/team_structure
/tests/input_files/ref/fluid*/**/*             @baci/team_fluid
/tests/input_files/ref/fsi*/**/*               @baci/team_fluid @baci/team_fsi
/tests/input_files/ref/particle*/**/*          @baci/team_particle
/tests/input_files/ref/pasi*/**/*              @baci/team_particle
/tests/input_files/ref/sohex8fbar*/**/*        @baci/team_structure
/tests/input_files/ref/solid*/**/*             @baci/team_structure
/tests/input_files/ref/ssi*                    @baci/team_scatra
/tests/input_files/ref/ssti*                   @baci/team_scatra
/tests/input_files/ref/structure*/**/*         @baci/team_structure

/tests/input_files/rigidsphere*                @baci/team_structure

/tests/input_files/roughcontact*               @baci/team_contact

/tests/input_files/scatra*                     @baci/team_scatra

/tests/input_files/shell7p*                    @baci/team_structure

/tests/input_files/solid*                      @baci/team_structure

/tests/input_files/spring_dashpot*             @baci/team_discretization

/tests/input_files/ssi*                        @baci/team_scatra
/tests/input_files/ssti*                       @baci/team_scatra
/tests/input_files/sti*                        @baci/team_scatra

/tests/input_files/stru*                       @baci/team_structure

/tests/input_files/thermo*                     @baci/team_thermo

/tests/input_files/truss3*                     @baci/team_structure

/tests/input_files/tsi*                        @baci/team_thermo

/tests/input_files/volmortar*                  @baci/team_contact

/tests/input_files/w1*                         @baci/team_structure

/tests/input_files/wear*                       @baci/team_contact

/tests/input_files/xfluid_*                    @baci/team_fluid

# infrastructure configuration files
.clang*                                        @baci/team_infrastructure
.gitignore                                     @baci/team_infrastructure 
.gitlab/CODEOWNERS                             @baci/team_infrastructure 
CMakePresets.json                              @baci/team_infrastructure 
Dangerfile                                     @baci/team_infrastructure 
Gemfile                                        @baci/team_infrastructure 
Gemfile.lock                                   @baci/team_infrastructure 
create-baci-python-venv                        @baci/team_infrastructure 
requirements.txt                               @baci/team_infrastructure
.contains_modules                              @baci/team_infrastructure 

# template files
.gitlab/issue_templates/BUG_REPORT.md                                        @baci/team_infrastructure 
.gitlab/issue_templates/DEVELOPER_MEETING_TEMPLATE.md                        @baci/baci_developers 
.gitlab/issue_templates/FAREWELL.md                                          @baci/baci_maintainer 
.gitlab/issue_templates/ISSUE_TEMPLATE.md                                    @baci/baci_developers 
.gitlab/issue_templates/ONBOARDING.md                                        @baci/baci_maintainer 
.gitlab/issue_templates/TEST_FAILING.md                                      @baci/team_infrastructure 
.gitlab/merge_request_templates/MERGE_REQUEST_TEMPLATE.md                    @baci/baci_developers 


# put CMakeLists.txt last to override folder owners
*CMakeLists.txt                                @baci/baci_maintainer @baci/team_infrastructure

# testing framework configuration files
TestingFramework.cmake                         @baci/team_testing
TestingFrameworkListOfTests.cmake              @baci/baci_developers

README.md                                      @baci/baci_developers
CONTRIBUTING.md                                @baci/baci_maintainer 
