CMAKE_COMMAND=/opt/baci-dependencies/bin/cmake

# path to (Open)MPI
MPIDIR=/usr
MPIRUN=/usr/bin/mpirun

# optimization flags (used for C and C++ code)
CFLAGS="-Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3"
CXXFLAGS="-std=c++17 -Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3 -Wno-maybe-uninitialized -Wno-format-security -Werror=vla"
CXXFLAGSRELEASE="-O2 -funroll-loops"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O3 -funroll-all-loops -malign-double"

# linker flags
# NOTE: -lopen-pal can be removed once openmpi-4.0.7 or later is available on the workstations
LINKERFLAGS="-lopen-pal -fuse-ld=$LINKER_EXECUTABLE"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="/opt/baci-dependencies/include"
LIB_INSTALL_DIR="/opt/baci-dependencies/lib"

# path to Trilinos
Trilinos_PREFIX="/opt/baci-dependencies/"

if [ $USE_ACML == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: ACML not supported on Ubuntu             !!"
  echo "!! Switching to system BLAS/LAPACK instead.          !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo
fi
# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS=""
LAPACK_LIBS=""
BLA_VENDORSTRING=""

# boost library
BOOST_INCLUDEDIR="/usr/include"
BOOST_LIBRARYDIR="/usr/lib/x86_64-linux-gnu"
USE_USERSPECIFIED_BOOST=OFF # bypass cmake FindBoost script (default: OFF)
BOOST_EXCLUDE_SYSTEM_PATHS="OFF"

# qhull library
QHULL_LIBRARYDIR=$LIB_INSTALL_DIR
QHULL_INCLUDEDIR=$INCLUDE_INSTALL_DIR/libqhull

# Cubit PATH (only needed for framework tests)
CUBIT_PATH=""

# ParaView-Python PATH (only needed for post_processing tests)
PARAVIEWPYTHON_PATH="/opt/baci-dependencies-testing/ParaView-5.5.2-Qt5-MPI-Linux-64bit/bin/pvpython"

BACI_WITH_GOOGLETEST="ON"

# mathjax for doxygen
DOXYGEN_LOCAL_MATHJAX_BASEPATH=/opt/baci-dependencies-testing/MathJax-2.7.9
