OS_VERSION="FC16"
CMAKE_COMMAND=cmake

# path to (Open)MPI
MPIDIR=/usr/lib64/openmpi

# optimization flags (used for C and C++ code)
CXXFLAGS="-Wall -Wno-unknown-pragmas -std=c++0x"
CFLAGS="-Wall -Wno-unknown-pragmas"
CXXFLAGSRELEASE="-O3 -funroll-loops"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O5 -funroll-all-loops -malign-double"

# linker flags
LINKERFLAGS="-lhdf5_hl"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="/lnm/lib/Q1_2015/fc16/openmpi-gcc/include"
LIB_INSTALL_DIR="/lnm/lib/Q1_2015/fc16/openmpi-gcc/lib"

DEAL_II_DIR="/lnm/lib/Q1_2015/deal/fc16_openmpi/"

# path to Trilinos
Trilinos_PREFIX="/lnm/lib/Q1_2015/trilinos/fc16_openmpi_release"

# Trilinos package configuration
TRILINOSDEV=ON
BUILD_Teko=OFF
BUILD_Stratimikos=OFF
BUILD_MueLu=OFF
BUILD_HAVE_Trilinos_Q1_2014=ON


# boost library
BOOST_INCLUDEDIR="/lnm/lib/Q1_2015/fc16/openmpi-gcc/include"
BOOST_LIBRARYDIR="/lnm/lib/Q1_2015/fc16/openmpi-gcc/lib"
USE_USERSPECIFIED_BOOST=OFF # bypass cmake FindBoost script (default: OFF)
BOOST_EXCLUDE_SYSTEM_PATHS="OFF"

# SuperLu
FOUND_NO_SUPERLU=ON

# Cubit PATH (only needed for framework tests)
CUBIT_PATH="/lnm/programs64/cubit-13.2/bin"


