OS_VERSION="FC16"
CMAKE_COMMAND=cmake

# path to (Open)MPI
MPIDIR=/usr/lib64/openmpi

# optimization flags (used for C and C++ code)
CXXFLAGS="-Wall -Wno-unknown-pragmas -mfpmath=sse -msse3"
CFLAGS="-Wall -Wno-unknown-pragmas -mfpmath=sse -msse3"
CXXFLAGSRELEASE="-O3"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O5 -funroll-all-loops -malign-double"

# linker flags
LINKERFLAGS="-lhdf5_hl"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="/lnm/lib/Q3_2013/fc16/openmpi-gcc48/include"
LIB_INSTALL_DIR="/lnm/lib/Q3_2013/fc16/openmpi-gcc48/lib"

# path to Trilinos
Trilinos_PREFIX="/lnm/lib/Q3_2013/trilinos/fc16_openmpi_gcc48_$TRILINOS_BUILD_TYPE/"

# Trilinos package configuration
BUILD_Teko=OFF
BUILD_Stratimikos=OFF
BUILD_MueLu=OFF
BUILD_MueLuExperimental=OFF

if [ $USE_ACML == 1 ]; then
  # libM replacement
  AMDLIBMDIR_PATH="/lnm/lib/Q3_2013/amdlibm-3-0-2"

  # AMD core math library BLAS/LAPACK replacement
  #ACMLDIR_PATH="/lnm/lib/Q3_2013/acml-5-2-0/gfortran64"
  #BLAS_LIBS="/lnm/lib/Q3_2013/acml-5-2-0/gfortran64/lib/libacml.a"
  #LAPACK_LIBS="/lnm/lib/Q3_2013/acml-5-2-0/gfortran64/lib/libacml.a"
  #BLA_VENDORSTRING="ACML.5.2.0"
  ACMLDIR_PATH="/lnm/lib/Q3_2012/acml4.4.0/gfortran64"
  BLAS_LIBS="/lnm/lib/Q3_2012/acml4.4.0/gfortran64/lib/libacml.a /lnm/lib/Q3_2012/acml4.4.0/gfortran64/lib/libacml_mv.a"
  LAPACK_LIBS="/lnm/lib/Q3_2012/acml4.4.0/gfortran64/lib/libacml.a /lnm/lib/Q3_2012/acml4.4.0/gfortran64/lib/libacml_mv.a"
  BLA_VENDORSTRING="ACML.4.4.0"
else
  # libM replacement
  AMDLIBMDIR_PATH=""

  # AMD core math library BLAS/LAPACK replacement
  ACMLDIR_PATH=""
  BLAS_LIBS=""
  LAPACK_LIBS=""
  BLA_VENDORSTRING=""
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! Not using high performance BLAS routines may      !!"
  echo "!! significantly detoriate performance. It's highly  !!"
  echo "!! recommended to configure BACI using               !!"
  echo "!!     do-configure --useACML                        !!"
  echo "!! to enable the high performance ACML library!      !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
fi

# boost library
BOOST_INCLUDEDIR=$INCLUDE_INSTALL_DIR
BOOST_LIBRARYDIR=$LIB_INSTALL_DIR
USE_USERSPECIFIED_BOOST=OFF # bypass cmake FindBoost script (default: OFF)
BOOST_EXCLUDE_SYSTEM_PATHS="ON"

# SuperLu
FOUND_NO_SUPERLU=ON
# SuperLU (dist) leads to crash with gcc 4.8.2 (reproducable on some(!) machines)

# Cubit PATH (only needed for framework tests)
CUBIT_PATH="/lnm/programs64/cubit-13.2/bin"


echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
echo "!! ATTENTION for all XFEM users:                     !!"
echo "!! It seems that there's a bug in the ACML GEMM      !!"
echo "!! routine. Please use the slow standard BLAS        !!"
echo "!! implementation or try another HPC BLAS library,   !!"
echo "!! to be sure to produce valid results               !!"
echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
