OS_VERSION="FC17"
CMAKE_COMMAND=cmake

# path to (Open)MPI
MPIDIR=/usr/lib64/openmpi

# optimization flags (used for C and C++ code)
CXXFLAGS="-Wall -Wno-unknown-pragmas -mfpmath=sse -msse3"
CFLAGS="-Wall -Wno-unknown-pragmas -mfpmath=sse -msse3"
CXXFLAGSRELEASE="-O3"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O5 -funroll-all-loops -malign-double"

# linker flags
LINKERFLAGS="-lhdf5_hl"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="/home/tobias/trilinos/TPL/fc17/openmpi-gcc/include"
LIB_INSTALL_DIR="/home/tobias/trilinos/TPL/fc17/openmpi-gcc/lib"

# path to Trilinos
Trilinos_PREFIX="/home/tobias/promotion/trilinos/fc17-dyn"

# Trilinos package configuration
TRILINOS_DEV=ON
BUILD_Teko=OFF
BUILD_MueLu=ON
BUILD_HAVE_Trilinos_Q1_2013=ON

# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS=""
LAPACK_LIBS=""
BLA_VENDORSTRING=""

# boost library
BOOST_INCLUDEDIR=$INCLUDE_INSTALL_DIR
BOOST_LIBRARYDIR=$LIB_INSTALL_DIR
USE_USERSPECIFIED_BOOST="OFF" # bypass cmake FindBoost script (default: OFF)

# Cubit PATH (only needed for framework tests)
CUBIT_PATH=
