OS_VERSION="FC22"
CMAKE_COMMAND=cmake

# path to (Open)MPI
MPIDIR=/usr/lib64/openmpi

# optimization flags (used for C and C++ code)
CFLAGS="-Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3"
CXXFLAGS="-Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3"
CXXFLAGSRELEASE="-O2 -funroll-loops"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O5 -funroll-all-loops -malign-double"

# linker flags, use gold linker because it is much faster...
LINKERFLAGS="-lhdf5_hl -fuse-ld=gold"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="/lnm/lib/Q1_2014/fc22/lnm/include"
LIB_INSTALL_DIR="/lnm/lib/Q1_2014/fc22/lnm/lib"

# path to Trilinos
Trilinos_PREFIX="/lnm/lib/Q1_2014/trilinos/fc22_openmpi_$TRILINOS_BUILD_TYPE/"

# Trilinos package configuration
BUILD_Teko=OFF
BUILD_Stratimikos=OFF
BUILD_MueLu=OFF
BUILD_MueLuExperimental=OFF

if [ $USE_ACML == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: ACML not supported on FC22               !!"
  echo "!! Switching to slow system BLAS and LAPACK instead. !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo
fi

# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS=""
LAPACK_LIBS=""
BLA_VENDORSTRING=""

# deal package
if [ $USE_DEAL == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: deal.II not supported on Q1_2014         !!"
  echo "!! Turn on the --experimental flag for using deal.II !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
fi

# boost library
BOOST_INCLUDEDIR=$INCLUDE_INSTALL_DIR
BOOST_LIBRARYDIR=$LIB_INSTALL_DIR
USE_USERSPECIFIED_BOOST=OFF # bypass cmake FindBoost script (default: OFF)
BOOST_EXCLUDE_SYSTEM_PATHS="OFF"

# SuperLu
FOUND_NO_SUPERLU=OFF

# Cubit PATH (only needed for framework tests)
CUBIT_PATH="/lnm/programs64/cubit-13.2/bin"
