## Build configuration for cluster at IMCS
## OS: CentOS 7.6
## Toolchain: openmpi 4.0.0, gcc 9.3.0, Trilinos (2022_Q1)
## TPLs compiled and installed via spack environment 'baci_development'

CMAKE_COMMAND=$CMAKE_ROOT/bin/cmake

# MPI environment
MPIDIR=$OPENMPI_ROOT
MPIRUN=$MPIDIR/bin/mpirun

# compilers
CXX=$MPIDIR/bin/mpic++
CC=$MPIDIR/bin/mpicc
F90=$MPIDIR/bin/mpif90

# optimization flags (used for C and C++ code)
CFLAGS="-Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3"
CXXFLAGS="-std=c++17 -Wall -Wno-unknown-pragmas -Wignored-qualifiers -Wno-maybe-uninitialized -Wno-format-security -mfpmath=sse -msse3 -Werror=vla"
CXXFLAGSRELEASE="-O2 -funroll-loops"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O3 -funroll-all-loops -malign-double"

# linker flag
LINKERFLAGS="-L$HDF5_ROOT/lib -L$BOOST_ROOT/lib -fuse-ld=gold"
LINKERFLAGSRELEASE="-O2"

# path to Trilinos installation
Trilinos_PREFIX="$TRILINOS_ROOT"

if [ $USE_ACML == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: ACML not supported on IMCS cluster       !!"
  echo "!! Switching to system BLAS/LAPACK instead.          !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo
fi
# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS="$OPENBLAS_ROOT/lib/libopenblas.a"
LAPACK_LIBS="$OPENBLAS_ROOT/lib/libopenblas.a"
BLA_VENDORSTRING="openBLAS.0.3.6"
echo "!!!!!!!!!!!!!!!!!!!!!!  INFO  !!!!!!!!!!!!!!!!!!!!!!!!!"
echo "!! Using high performance BLAS routines based on     !!"
echo "!! OpenBLAS.                                         !!"
echo "!!!!!!!!!!!!!!!!!!!!!!  INFO  !!!!!!!!!!!!!!!!!!!!!!!!!"

# QHull
QHULL_LIBRARYDIR="$QHULL_ROOT/lib"
QHULL_INCLUDEDIR="$QHULL_ROOT/include/libqhull"

# boost library
BOOST_INCLUDE_DIR="$BOOST_ROOT/include"
BOOST_LIBRARY_DIR="$BBOST_ROOT/lib"
USE_USERSPECIFIED_BOOST=ON
BOOST_EXCLUDE_SYSTEM_PATHS=ON

# CLN library
CLN_LIBRARYDIR="$CLN_ROOT/lib"
CLN_INCLUDEDIR="$CLN_ROOT/include"

# arborx library
BACI_WITH_ARBORX="ON"

# Cubit PATH (only needed for framework tests)
CUBIT_PATH=""

BACI_WITH_GOOGLETEST="OFF"

BUILD_DOXYGEN="OFF"
