## Build configuration for cluster at IMCS
## OS: CentOS 7.6
## Toolchain: openmpi 4.0.0, gcc 4.8.5, Trilinos (Q1_2015)
## TPLs compiled and installed manually (as at LnM)

CMAKE_COMMAND=cmake

# MPI environment
MPIDIR=/opt/openmpi/4.0.0/gcc
MPIRUN=$MPIDIR/bin/mpirun
MPIINCLUDEDIR=undefined

# optimization flags (used for C and C++ code)
CFLAGS="-Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3"
CXXFLAGS="-std=c++11 -Wall -Wno-unknown-pragmas -Wignored-qualifiers -Wno-maybe-uninitialized -Wno-format-security -mfpmath=sse -msse3"
CXXFLAGSRELEASE="-O2 -funroll-loops"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O3 -funroll-all-loops -malign-double"

# linker flag
LINKERFLAGS="-lhdf5_hl -fuse-ld=gold"
LINKERFLAGSRELEASE="-O2"

# Installation directories
TPLDIR="/imcs"

# path to Trilinos installation
Trilinos_PREFIX="/imcs/Q1_2015/trilinos"

# Trilinos package configuration
USE_TRILINOS_Q1_2015=ON
BUILD_Teko=OFF
BUILD_Stratimikos=OFF
BUILD_MueLu=ON

if [ $USE_ACML == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: ACML not supported on IMCS cluster       !!"
  echo "!! Switching to system BLAS/LAPACK instead.          !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo
fi
# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS="/imcs/lib/libopenblas.a"
LAPACK_LIBS="/imcs/lib/libopenblas.a"
BLA_VENDORSTRING="openBLAS.0.3.6"
echo "!!!!!!!!!!!!!!!!!!!!!!  INFO  !!!!!!!!!!!!!!!!!!!!!!!!!"
echo "!! Using high performance BLAS routines based on     !!"
echo "!! OpenBLAS.                                         !!"
echo "!!!!!!!!!!!!!!!!!!!!!!  INFO  !!!!!!!!!!!!!!!!!!!!!!!!!"

# QHull
QHULL_LIBRARYDIR="/imcs/lib"
QHULL_INCLUDEDIR="/imcs/include/libqhull"

# deal package
if [ $USE_DEAL == 1 ]; then
  echo "DEAL package not yet implemented with Ubuntu"
  exit
fi

# disable some tests that do not run on our system
ENABLE_ENSIGHT_POSTPROCESSING_TESTS=OFF

# boost library
BOOST_INCLUDE_DIR="/usr/include"
BOOST_LIBRARY_DIR="/lib64"
USE_USERSPECIFIED_BOOST=OFF
BOOST_EXCLUDE_SYSTEM_PATHS=OFF

# CLN library
CLN_LIBRARYDIR="/imcs/lib"
CLN_INCLUDEDIR="/imcs/include"

# ParMetis library
#PARMETIS_LIBRARYDIR=""
#PARMETIS_INCLUDEDIR=""

# Cubit PATH (only needed for framework tests)
CUBIT_PATH=""

# Relative Path from $Trilinos_PREFIX/lib/cmake/Trilinos to the Source Directory
Trilinos_SOURCE_DIR="../../../../../../home/opt/trilinos/Q1_2015/trilinos-source"
