CMAKE_COMMAND=/lnm/programs64/cmake-3.17.0/bin/cmake

# path to (Open)MPI
MPIDIR=/usr
MPIRUN=/usr/bin/mpirun
MPIEXEC_EXTRA_OPTS="--mca orte_tmpdir_base $BUILD_FOLDER/tmp"

# optimization flags (used for C and C++ code)
CFLAGS="-Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3"
CXXFLAGS="-std=c++11 -Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3 -Wno-maybe-uninitialized -Wno-format-security"
CXXFLAGSRELEASE="-O2 -funroll-loops"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O3 -funroll-all-loops -malign-double"

# linker flags, use gold linker because it is much faster...
LINKERFLAGS="-lhdf5_openmpi_hl -fuse-ld=gold"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="/lnm/lib/Q3_2017/ubuntu/tpl/include"
LIB_INSTALL_DIR="/lnm/lib/Q3_2017/ubuntu/tpl/lib"

# path to Trilinos
if [ $BUILD_TYPE == "DEBUG" ] || [ $BUILD_TYPE == "RELWITHDEBINFO" ]; then
  Trilinos_PREFIX="/lnm/lib/Q4_2019/ubuntu/trilinos_relwithdebinfo"
else
  Trilinos_PREFIX="/lnm/lib/Q4_2019/ubuntu/trilinos_release"
fi

# Trilinos package configuration
BUILD_Teko=OFF
BUILD_Stratimikos=OFF

if [ $USE_ACML == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: ACML not supported on Ubuntu             !!"
  echo "!! Switching to system BLAS/LAPACK instead.          !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo
fi
# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS=""
LAPACK_LIBS=""
BLA_VENDORSTRING=""

# boost library
BOOST_INCLUDEDIR="/usr/include"
BOOST_LIBRARYDIR="/usr/lib/x86_64-linux-gnu"
USE_USERSPECIFIED_BOOST=OFF # bypass cmake FindBoost script (default: OFF)
BOOST_EXCLUDE_SYSTEM_PATHS="OFF"

# qhull library
QHULL_LIBRARYDIR=$LIB_INSTALL_DIR
QHULL_INCLUDEDIR=$INCLUDE_INSTALL_DIR/qhull

# Cubit PATH (only needed for framework tests)
CUBIT_PATH="/lnm/programs64/cubit-13.2/bin"

# ParaView-Python PATH (only needed for post_processing tests)
PARAVIEWPYTHON_PATH="/lnm/programs64/ParaView-5.5.2-Qt5-MPI-Linux-64bit/bin/pvpython"