CMAKE_COMMAND=/lnm/compile/cmake-3.25.1/bin/cmake

# define names of the presets
# NOTE: On the cluster only the release configuration is predefined. If you need
# a debug configuration, you can easily define it on your own.
CMAKE_PRESET_NAME_RELEASE=lnm_bruteforce
CMAKE_PRESET_NAME_DEBUG=
CMAKE_PRESET_NAME_DEBUG_OPTIMIZED=
CMAKE_PRESET_NAME_COVERAGE=