CMAKE_COMMAND=/lnm/cmake/2.8.12/bin/cmake

# path to (Open)MPI
MPIDIR=/opt/openmpi/1.6.2/gcc48
MPIRUN=$MPIDIR/bin/mpirun

# optimization flags (used for C and C++ code)
CXXFLAGS="-std=c++11 -Wall -Wno-unknown-pragmas"
CFLAGS="-Wall -Wno-unknown-pragmas -ansi"
CXXFLAGSRELEASE="-pipe -O3 -ffast-math -funroll-all-loops -fpeel-loops -ftracer -funswitch-loops -funit-at-a-time"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O5 -funroll-all-loops -malign-double"

# linker flags
LINKERFLAGS="-Xlinker -defsym -Xlinker MAIN__=main -Wl,-rpath=/lnm/gcc48/lib64 -lstdc++ -lgcc_s -lquadmath -Wl,-rpath=/opt/openmpi/1.6.2/gcc48/lib/ -lmpi -lmpi_cxx -lmpi_f90 -lmpi_f77"
LINKERFLAGSRELEASE="-O2"

# library paths
INCLUDE_INSTALL_DIR="/lnm/lib/Q1_2015/kaiser/openmpi-gcc48-1.6.2-acml/include"
LIB_INSTALL_DIR="/lnm/lib/Q1_2015/kaiser/openmpi-gcc48-1.6.2-acml/lib"

# Trilinos path
Trilinos_PREFIX="/lnm/lib/Q1_2015/kaiser/openmpi-gcc48-1.6.2-acml/"

USE_TRILINOS_Q1_2015=ON
BUILD_Teko=OFF
BUILD_Stratimikos=OFF

# libM replacement
AMDLIBMDIR_PATH="/opt/acml4.4.0/gfortran64"

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH="/opt/acml4.4.0/gfortran64"
BLAS_LIBS="/opt/acml4.4.0/gfortran64/lib/libacml.a /opt/acml4.4.0/gfortran64/lib/libacml_mv.a"
LAPACK_LIBS="/opt/acml4.4.0/gfortran64/lib/libacml.a /opt/acml4.4.0/gfortran64/lib/libacml_mv.a"
BLA_VENDORSTRING="ACML.4.4.0"

# boost library
BOOST_INCLUDEDIR=/lnm/lib/Q1_2015/kaiser/openmpi-gcc48-1.6.2-acml/include
BOOST_LIBRARYDIR=/lnm/lib/Q1_2015/kaiser/openmpi-gcc48-1.6.2-acml/lib
USE_USERSPECIFIED_BOOST=ON # bypass cmake FindBoost script (default: OFF)
#-D Boost_DIR:FILEPATH=/usr/lib64 \
BOOST_EXCLUDE_SYSTEM_PATHS="ON"

# qhull library
QHULL_LIBRARYDIR=$LIB_INSTALL_DIR
QHULL_INCLUDEDIR=$INCLUDE_INSTALL_DIR/qhull

# cubit only needed for nightly framework tests
CUBIT_PATH=

# ParaView PATH (only needed for post_processing tests)
PARAVIEWPYTHON_PATH=""

echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
echo "!! ATTENTION for all XFEM users:                     !!"
echo "!! It seems that there's a bug in the ACML GEMM      !!"
echo "!! routine. Please use the slow standard BLAS        !!"
echo "!! implementation or try another HPC BLAS library,   !!"
echo "!! to be sure to produce valid results               !!"
echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
