CMAKE_COMMAND=cmake

# path to Intel MPI
MPIDIR=$MPI_BASE/bin64
MPIRUN=$MPIDIR/bin/mpirun

# compiler
CXX=$MPIDIR/mpiicpc
CC=$MPIDIR/mpiicc
F90=$MPIDIR/mpiifort

# optimization flags (used for C and C++ code)
CFLAGS=""
CFLAGSRELEASE="-O3 -xavx -override-limits -D_FILE_OFFSET_BITS=64 -D_LARGEFILE64_SOURCE -DMPICH_IGNORE_CXX_SEEK"
CXXFLAGS=""
CXXFLAGSRELEASE="-O3 -xavx -std=gnu++0x -qoverride-limits -D_FILE_OFFSET_BITS=64 -D_LARGEFILE64_SOURCE -DMPICH_IGNORE_CXX_SEEK "

# linker flags
LINKERFLAGS="-lhdf5_hl"
LINKERFLAGSRELEASE="-O2"
FFLAGS=""
FFLAGSRELEASE="-O2 -override-limits -D_FILE_OFFSET_BITS=64 -D_LARGEFILE64_SOURCE"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="$TPL_BASE_DIR/lib/include"
LIB_INSTALL_DIR="$TPL_BASE_DIR/lib/lib"

# path to Trilinos
Trilinos_PREFIX="$TRILINOS_BASE_DIR"

# Trilinos package configuration
BUILD_Teko=OFF
BUILD_Stratimikos=OFF
BUILD_MueLu=OFF
BUILD_MueLuExperimental=OFF

if [ $USE_ACML == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: ACML not supported on Haswell cluster    !!"
  echo "!! Switching to OpenBLAS instead.                    !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo
fi
# libM replacement
AMDLIBMDIR_PATH=""

## AMD core math library BLAS/LAPACK replacement
#ACMLDIR_PATH=""
#BLAS_LIBS="/lnm/lib/libopenblas.a"
#LAPACK_LIBS="/lnm/lib/libopenblas.a"
#BLA_VENDORSTRING="openBLAS.0.2.14"
#echo "!!!!!!!!!!!!!!!!!!!!!!  NEW  !!!!!!!!!!!!!!!!!!!!!!!!!!"
#echo "!! Using high performance BLAS routines based on     !!"
#echo "!! OpenBLAS.                                         !!"
#echo "!!!!!!!!!!!!!!!!!!!!!!  NEW  !!!!!!!!!!!!!!!!!!!!!!!!!!"

# deal package
if [ $USE_DEAL == 1 ]; then
  DEAL_II_DIR="/lnm/Q1_2015/deal.II/"
  BUILD_Deal=ON
fi

# boost library
BOOST_INCLUDEDIR=$BOOST_INCDIR
BOOST_LIBRARYDIR=$BOOST_LIBDIR

# qhull library
QHULL_LIBRARYDIR=$LIB_INSTALL_DIR
QHULL_INCLUDEDIR=$INCLUDE_INSTALL_DIR/qhull

# FFTW
FFTW_INCLUDEDIR="$FFTW_BASE/include"
FFTW_LIBRARYDIR="$FFTW_LIBDIR"

# SuperLu and Umfpack
FOUND_NO_SUPERLU=ON
FOUND_NO_UMFPACK=OFF

