OS_VERSION="ubuntu16.04"
CMAKE_COMMAND=cmake

# set compilers
MPIDIR=/usr/lib/openmpi
MPIRUN=/usr/bin/mpirun

# compilers
CXX=mpic++
CC=mpicc
F90=mpif90

# optimization flags (used for C and C++ code)
CFLAGS="-Wall -Wno-unknown-pragmas -Wignored-qualifiers -mfpmath=sse -msse3"
CXXFLAGS="-std=c++11 -Wall -Wno-unknown-pragmas -Wignored-qualifiers -Wno-maybe-uninitialized -Wno-format-security -mfpmath=sse -msse3"
CXXFLAGSRELEASE="-O2 -funroll-loops"

# optimization flags for Fortran
FFLAGS="-Wall"
FFLAGSRELEASE="-O3 -funroll-all-loops -malign-double"

# linker flags, use gold linker because it is much faster...
LINKERFLAGS="-lhdf5_hl -fuse-ld=gold"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
TPL_DIR="/nfs/rzhome/nas/compsim/public/lib/Q1_2015/TPL"
INCLUDE_INSTALL_DIR="$TPL_DIR/include"
LIB_INSTALL_DIR="$TPL_DIR/lib"

# path to Trilinos
Trilinos_PREFIX=$TPL_DIR"/trilinos-build"

# Trilinos package configuration
BUILD_Teko=OFF
BUILD_Stratimikos=OFF
BUILD_MueLu=ON
BUILD_MueLuExperimental=ON

if [ $USE_ACML == 1 ]; then
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo "!! WARNING: ACML not supported on Ubuntu             !!"
  echo "!! Switching to system BLAS/LAPACK instead.          !!"
  echo "!!!!!!!!!!!!!!!!!!!!  WARNING  !!!!!!!!!!!!!!!!!!!!!!!!"
  echo
fi
# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS=""
LAPACK_LIBS=""
BLA_VENDORSTRING=""

#QHULL_INCLUDE_DIRS="$TPL_DIR/include"
#QHULL_LIBRARY="$TPL_DIR/lib/libqhull.so"
#QHULL_LIBRARIES="$TPL_DIR/lib"

# deal package
if [ $USE_DEAL == 1 ]; then
  echo "DEAL package not yet implemented with Ubuntu"
  exit
fi

# boost library
# BOOST_INCLUDEDIR="/usr/include/boost/" # $INCLUDE_INSTALL_DIR
BOOST_INCLUDEDIR="/usr/lib/x86_64-linux-gnu"
BOOST_LIBRARYDIR="/usr/lib/x86_64-linux-gnu"
# BOOST_LIBRARYDIR=$LIB_INSTALL_DIR
USE_USERSPECIFIED_BOOST=OFF # bypass cmake FindBoost script (default: OFF)
BOOST_EXCLUDE_SYSTEM_PATHS="OFF"

# SuperLu
FOUND_NO_SUPERLU=OFF

# Cubit PATH (only needed for framework tests)
CUBIT_PATH="/rzhome/nas/compsim/public/opt/cubit-13.2"
